*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
}
body{
    background: #111122;
}


/* Header part start */

header{
    width: 100%;
    height: 80px;
    padding: 0 100px;
    align-items: center;
    justify-content: space-between;
    display: flex;
}
header .logo{
    font-size: 26px;
    font-weight: bold;
    font-style: normal;
    color: white;
}
header .logo span{
    color: #f8b90c;
}
header .hamburger{
    display: none;
}
nav ul{
    display: flex;
}
nav ul li a{
    display: block;
    padding: 10px 20px;
    color: white;
    font-weight: 500;
    position: relative;
}
nav ul li a:hover{
    color: #f8b90c;
}
nav ul li a::before{
    position: absolute;
    content: '';
    bottom: -5px;
    left: 0;
    width: 0%;
    height: 3px;
    background-color: #f8b90c;
    transition: all linear .1s;
}

nav ul li a:hover::before{
    width: 100%;
    transition: all linear .1s;
}


/* Header part end */



/* Footer Part Start */

.foot_two{
    background: #1c222a;
    padding: 20px 0;
    text-align: center;
    color: white;
}
.foot_two strong{
    color: #f8b90c;
}

/* Footer Part End */